doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Amit Patel

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Amit Patel
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Amit 
                        span.text-primary Patel
                    .subheading.mb-5
                        | Dunwoody, GA 30338 · (678) 235-5543 · 
                        a(href='mailto:amitpatel0081@gmail.com') amitpatel0081@gmail.com
                    p.lead.mb-5
                        | Senior software developer.  Experienced in backend server microservices and iOS mobile development.
                    .social-icons
                        a.social-icon(href='http://www.linkedin.com/in/amit-patel-492522152')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/apgt60')
                            i.fab.fa-github
                        //a.social-icon(href='#!')
                            i.fab.fa-twitter
                        //a.social-icon(href='#!')
                            i.fab.fa-facebook-f
            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    .subheading.mb-3 iOS Stock Portfolio Tracker App 
                    ul.fa-ul.mb-0
                        li
                            a(href='https://github.com/apgt60/portfolio-tracker-ios-app', target='_blank') Github 
                            p 
                            a(href='https://drive.google.com/file/d/1DPEjMzsqdgbwABg7hcojmLf0eINCPCrP/view?usp=drive_link', target='_blank') Demo Video
                    br
                    .subheading.mb-3 Stock Portfolio Tracker Server 
                    ul.fa-ul.mb-0
                        li
                            a(href='https://github.com/apgt60/portfolio-tracker-server', target='_blank') Github
                    br

            hr.m-0
            

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 iOS Developer / Mobile Engineer (student)
                            .subheading.mb-3 Devmountain
                            p
                                | I developed an iOS app using Swift to provide a simple user experience for real time tracking of stock portfolios.
                                | To serve data to the app, I developed a dedicated backend server for user management, portfolio management, and real time stock price data.
                                | Also, third party APIs are used by the backend server to obtain real-time stock price and historical data.
 
                        .flex-shrink-0
                            span.text-primary November 2023 - March 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 Cox Automotive
                            p
                                | Served as Senior Software Engineer and Lead developer for a team of backend microservices developers to provide Web based fleet rental management solutions for Cox Auto Mobility.
                        .flex-shrink-0
                            span.text-primary August 2021 - September 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 KForce (InMoment and Home Depot)
                            p
                                | Worked on design and development of RESTful APIs, product enhancements, and defect fixes.  Migrated system from Oracle to CockroachDB (PostgreSQL).
                        .flex-shrink-0
                            span.text-primary April 2020 - May 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 Trendscend Marketing
                            p
                                | Served as contract software developer.  Tracked requirements, defects, and week-to-week deliverables to deliver the most important features based on business stakeholders’ requirements.
                        .flex-shrink-0
                            span.text-primary August 2018 - March 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Director of Technology
                            .subheading.mb-3 GoFan
                            p
                                | Managed internal and outsourced software development staff for the GoFan online ticketing platform.
                                | Created documentation and procedures to efficiently onboard new software engineers onto the platform.
                                | Built an internal software development team of five developers.

                        .flex-shrink-0
                            span.text-primary June 2017 - July 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 VP of Engineering
                            .subheading.mb-3 GPA Learn
                            p
                                | Served as lead of software operations - development, implementation, and support.
                                | Worked with executive team to deliver timelines and budgets for improvements to the LoveMath platform.

                        .flex-shrink-0
                            span.text-primary June 2013 - May 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Engineering / Software Implementation / Technical Support
                            .subheading.mb-3 ELab Solutions
                            p
                                | Developed software, handled customer support issues, and implemented QuikLIMS Laboratory Information Management software at sites across the US.
                        .flex-shrink-0
                            span.text-primary February 2006 - December 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Junior Software Engineer
                            .subheading.mb-3 Dynetics, Inc.
                            p
                                | Developed and tested software for automotive assembly line systems.
                        .flex-shrink-0
                            span.text-primary January 2003 - January 2006

                    

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Devmountain
                            .subheading.mb-3 iOS Development Program
                            //div Computer Science - Web Development Track
                            //p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary March 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Georgia Institute of Technology
                            .subheading.mb-3 B.S. Computer Engineering
                            //div Computer Science - Web Development Track
                            //p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary May 2003

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Languages
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-square
                            | Java | Scala | Groovy | Javascript | Typescript | Swift | HTML | CSS | SQL 
                        

                    br
                    .subheading.mb-3 Frameworks and Libraries 
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-square
                            | NodeJS | Spring Boot | Akka HTTP | Grails | Express JS | AWS | Elastic Search | MongoDB | Redis
                    br
                    .subheading.mb-3 Database and Industry Tools
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-square
                            | PostgreSQL | Postman | Docker | Kubernetes | Terraform | Jira | CircleCI | Git | Github
                    br
                    .subheading.mb-3 Tools / Software
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-square
                            | XCode | IntelliJ Idea | VS Code

                        

            hr.m-0

            // Interests
            //section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
                    p.mb-0
                        | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Awards
            //section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Analytics Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mobile Web Specialist - Google Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - James Buchanan High School - Hackathon 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')